 <!--Nav-->
<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
    <a href="/" class="navbar-brand"><img src="../../assets/4622830197_195x181.png"></a>
    <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
    <ul class="navbar-nav">
        <li  class="navbar-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"  href="#">Home</a> </li>
        <li class="navbar-item"><a  class="nav-link text-light text-uppercase font-weight-bold px-3" href="#">Programmes</a> </li>


        <li class="navbar-item"><a  class="nav-link text-light text-uppercase font-weight-bold px-3" href="#">Contact</a> </li>
    </ul>


        <div>

<i class="fa fa-user text-white"></i> <a class="text-light font-weight-bold" href="/login"> Login</a>
        </div>

    </div>
</nav>
<!--end of nav-->
