<!--banner-->
<section>
    <div class="container-fluid">
     <div class="row bg-info justify-content-center align-items-center banner" style="height: 60vh;">
<div class="col-sm-10 text-center">
<h1 class="display-2 text-capitalize">
    <span class="text-warning">pure bootstrap</span>
     <span class="text-white font-weight-bold">website</span></h1>
<h2 class="font-weight-light font-italic text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
<a class="btn btn-warning btn-lg px-4 m-3">Press here</a>
<a class="btn btn-danger btn-lg px-4 m-3">Press here</a>
</div>
     </div>
    </div>
</section>
<!--end of banner-->
<!--skills section-->
<section class="bg-light p-5">
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mb-1">
            <h4 class="text-warning display-5">INSTRUCTIONS FOR APPLICATIONS INTO THE NATIONAL AMBULANCE SERVICE</h4>
            <p class="lead text-secondary">
            Applications are invited from qualified candidates for entry into the Ambulance Service Training Institution<br>
Applicants must:
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-10 col-sm-10 mx-auto mb-2">

            <p class="text-left">
        <i class="fa fa-angle-right"></i>   Purchase application codes from any National Investment Bank (NIB) or Ghana Commercial Bank (GCB) branch at a cost of Fifty Ghana cedis (GH¢50.00).
            </p>
            <p class="text-left">
            <i class="fa fa-angle-right"></i> Upon payment, applicants will receive a voucher giving them a unique PIN.
            </p>
            <p class="text-left">
           <i class="fa fa-angle-right"></i> Have a dedicated phone number and an e-mail address.
            </p>
<p class="text-left">
<i class="fa fa-angle-right"></i> Use your PIN code to access the application form on this portal
</p>

<p class="text-left">
<i class="fa fa-angle-right"></i> Note that only Applicants who meet admission requirements will be invited to attend a competitive interview at the school of choice.
</p>

        </div>


    </div>
</div>
</section>
<!--end of skills section-->

<footer class="bg-default">
<div class="container">
    <div class="row">
        <div class="col text-center">

<p class="text-info py-3 m-0">&copy; Copyright 2019</p>
        </div>
    </div>
</div>
</footer>
